---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Diposting pada: {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="entry">
    <h3>Artikel Lainnya...</h3>
        {% capture category %}{{ page.categories | first }}{% endcapture %}
      
      {% for post in site.categories[category] limit: 5 %}
          <li>
                  <a href="{{ post.url | relative_url }}">
                      {{ post.title | escape }}
                  </a>
          </li>
      {% endfor %}
  </div>

  {% include disqus.html %}
</article>
